<?xml version="1.0" encoding="utf-8"?>
<!-- scan: 是否扫描配置文件，若改变重新加载 -->
<!-- scanPeriod: 扫描时间间隔 -->
<!-- debug: 是否打印 logback 内部日志信息 -->
<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <!-- property: 定义变量后，可以使 `${}` 来使用变量, 使用 resource=file 加载文件, 或者使用 name=k value=v -->
    <property resource="logback.properties"/>
    <!-- 使用 spring 里的变量 -->
<!--    <springProperty scope="context" name="logback_log_project" source="spring.application.name"/>-->

    <!-- contextName: 用于区分不同应用程序的记录 -->
    <contextName>${logback_context_name}</contextName>

    <appender name="CONSOLE-LOG" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.SSS}] [%X{logback-request-ip}] [%X{logback-request-id}] [%t] [%logger{16}] [%L] [%-5p] %m%n</pattern>
        </layout>
    </appender>

    <appender name="INFO-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.SSS}] [%X{logback-request-ip}] [%X{logback-request-id}] [%t] [%logger{16}] [%L] [%-5p] %m%n</pattern>
        </encoder>

        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径，可用变量，如 ${LOG_INFO_HOME}//%d.log -->
            <fileNamePattern>${logback_file_path}/info/${logback_log_project}_%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!-- <maxFileSize>100MB</maxFileSize> -->
        </rollingPolicy>
    </appender>
    <appender name="ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.SSS}] [%X{logback-request-ip}] [%X{logback-request-id}] [%t] [%logger{16}] [%L] [%-5p] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback_file_path}/error/${logback_log_project}_%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!-- <maxFileSize>100MB</maxFileSize> -->
        </rollingPolicy>
    </appender>

    <!-- 异步日志输出 -->
    <appender name="ASYNC-INFO" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的 80% 已满,则会丢弃 TRACT、DEBUG、INFO 级别的日志 -->
        <discardingThreshold>${logback_async_discarding_threshold}</discardingThreshold>
        <!-- 更改默认的队列的深度, 该值会影响性能.默认值为 256 -->
        <queueSize>${logback_async_queue_size}</queueSize>
        <!-- 添加附加的 appender, 最多只能添加一个 -->
        <appender-ref ref="INFO-LOG"/>
    </appender>
    <appender name="ASYNC-ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>${logback_async_discarding_threshold}</discardingThreshold>
        <queueSize>${logback_async_queue_size}</queueSize>
        <appender-ref ref="ERROR-LOG"/>
    </appender>

    <!-- <logger name="java.package.name"/> -->

    <root level="info">
        <appender-ref ref="CONSOLE-LOG"/>
        <appender-ref ref="ASYNC-INFO"/>
        <appender-ref ref="ASYNC-ERROR"/>
    </root>
</configuration>
